div.jioa-footer
script(src="/js/jquery-1.11.0.min.js")
script(src="/js/bootstrap.min.js")
script(src="http://code.highcharts.com/highcharts.js")
script(src="http://localhost:8080/joola.io.js?token=#{jtoken}")
script.
  var jtoken = '#{jtoken}';
script(src="/js/analytics.js")
