extends layout

block head_css
  link(rel='stylesheet', href='/assets/css/analytics-docs.css')
  link(rel='stylesheet', href='/assets/css/joolaio.css')
  link(rel='stylesheet', href='/assets/css/analytics-site.css')
  
block head_script
  
  

block content
  div.bodywrapper
    table.table_wrapper
      tr
        td.leftnav(style='padding:0;')
          div
            div.searchmore_wrapper
              input.searchmore_text(type='text', size='24', label='Find reports & more', placeholder='Find reports & more')
            div.popup_wrapper(style='display:none')
              div.recent_wrapper
                div.recentlyviewedcaption Recently viewed reports
          div
            div.menu_wrapper.listcontainer
              div.maintopic
              div.topic.topic-dashboards
                div.topicheader
                  div.colorspacer
                  div.topicicon
                  div.topiccaption Dashboards
                ul.nav-dashboards.subtopic
              div.topic.topic-reports
                div.topicheader
                  div.colorspacer
                  div.topicicon
                  div.topiccaption Reports
                ul.nav-reports.subtopic
            //div.helpblock
                div.reporthelp
                    div.joolaio.caption
                    div.joolaio.description
                div.resources
                div.resources
                    div.resourcewrapper
                        a.resource Help center

        td.navsep
          div(style='min-width:5px;width:5px')
        td.content_wrapper
          div.overlay(style='height:1500px;width: 100%;opacity:0.5;display:block;overflow:hidden;')
            img(src='/assets/img/spinner-loading.gif')
          div.container.joolaio._container(style='display:block')
            div.filtersWrapper.row.fluid-row
              div.filterWrapper
                div.filterContainer
            header#overview.jumbotron.subhead
              div.joolaio.picker.datebox(data-format='mmm dd, yyyy hh:nn:ss', data-offsetx='-55', data-offsety='59')
              h1.joolaio.caption
              p.joolaio.description.lead
              div.subnav(style='display:block')
                ul.nav.nav-pills
                  li.widget-add.pull-right(style='display:none')
                    a +Add Widget
                  li.divider.pull-right
                  li.panel-edit.pull-right(style='display:none')
            div#dashboardpanel.joolaio.dashboard.panel(style='display:none;')
              div.filtersWrapper.row.fluid-row
              div.joolaio.dashboard.widgets
            div#reportpanel.joolaio.report.panel(style='display:none')
              div.joolaio.report.tabs
              div.report_wrapper
                div.joolaio.report.metricgroups
                div.joolaio.report.row-top.row.fluid-row
                  div
                    div.joolaio.report.timeline
                div.joolaio.report.row-middle.row.fluid-row(style='padding-top:20px;')
                  div.metricswrapper
                    div.joolaio.report.metricbox
                div.joolaio.report.row-bottom.row.fluid-row(style='margin-top:20px;padding-top:0px;border-top:0px solid #ccc;')
                  div.joolaio.report.jtable
  div.sep
  footer.footer
    div.container
      // div.row
           div.span8
               h3.bottomcaption Joola Analytics
               div.row
                   div.span2
                       p Product
                       ul
                           li
                               a(href='') What is Joola Analytics?
                           li
                               a(href='') How does it work?
                           li
                               a(href='') Get started
                           li
                               a(href='') Blog
                   div.span2
                       p Company
                       ul
                           li
                               a(href='') About
                           li
                               a(href='') Contact Us
                           li
                               a(href='') Terms of Service
                   div.span2
                       p Developers
                       ul
                           li
                               a(href='') Overview
                           li
                               a(href='') FAQ
                           li
                               a(href='') Documentation
                           li
                               a(href='') Playground
                           li
                               a(href='') Support
           div.span3
               h3.bottomcaption &nbsp;
               p Follow us
               ul
                   li
                       a(href='') @joolaio

      p(style='font-weight:normal;margin-top:50px;') Built using 
        a(href='') joola.io
        | Technology © 2013 
        a(href='') Joola Smart Solutions Ltd. 
        | All rights reserved 
        a(href='') Terms and Conditions
  script(src='//www.google.com/jsapi', type='text/javascript')
  script(src='/joolaio.min.js?token=#{joolaioToken}', type='text/javascript')
  script(type='text/javascript').
    google.load('visualization', '1.0', {packages: ['corechart']});
      google.load("visualization", '1.0', {packages: ['imagechart']});
  
      $(window).bind('joolaio-loaded', function () {
        setupLeftNavContents();
  
        joolaio.bootstrap = true;
        joolaio.visualisation.init();
        $('.joolaio.version').text('Version ' + joolaio.VERSION);
        });

  script(type='text/javascript').
    var sampleData = #{sampleData};
    if (sampleData) {
      $('.demonoticebar > .dismiss').on('click', function() { 
        $('.demonoticebar').slideUp(200);
        document.cookie = "hidedemonotice=true;max-age=" + 60 * 60 * 24 * 10;
      });
      if (document.cookie.indexOf('hidedemonotice=') == '-1') {
        $('.demonoticebar').delay(3000).slideDown(400);
      }
    }
