doctype 5
html.wf-ffmetaserifwebpro-n5-active.wf-ffmetaserifwebpro-n7-active.wf-ffmetawebpro-n4-active.wf-active(lang='en')
  head
    title joola.io Analytics
    link(rel='stylesheet', href='/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-responsive.css')
    block head_css
    link(rel='stylesheet', href='/assets/css/site.css')
    
    script(src='/assets/js/jquery-1.7.2.min.js')
    script(src='/assets/js/jquery-ui.min.js')
    script(src='/assets/js/html5.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/analytics-site.js')
    block head_script 
  body
    div.navbar.navbar-inverse.navbar-static-top
      div.navbar-inner
        div._container
          a.brand(href='/') 
            img(src="/assets/img/logo.analytics.png")
          div.topnav
            if user
              div.loginname(href='#', data-toggle='dropdown') #{user.username}
    div.sep
    block content