extends layout

block content
  wrapper.error
    div.caption
      h1.error-header Uh oh! (404 Error)
      div.error-intro.
          Not sure how this happend, but there's not much sense sticking around here for very long.
          <br/>
          Check out the top navigation where you'll be able to find your way back.
      div.error-image
        img(src='/assets/img/404.jpg')