.collapse.navbar-collapse.navbar-ex1-collapse
  ul.nav.navbar-nav.side-nav
    .menu_wrapper.listcontainer
      .maintopic
      .topic.topic-dashboards
        .topicheader
          .colorspacer
          i.fa.fa-dashboard
          .topiccaption Dashboards
        ul#dashboardFeed.nav-dashboards.subtopic
      .topic.topic-reports
        .topicheader
          .colorspacer

      .topic.topic-usermanagement
        .topicheader
          .colorspacer

          i.fa.fa-users
          .topiccaption Reports
        ul#reportFeed.nav-reports.subtopic
          

      .topic.topic-settings
        .topicheader
          .colorspacer

          i.fa.fa-gears
          .topiccaption Realtime
        ul#realtimeFeed.nav-reports.subtopic


  ul.nav.navbar-nav.navbar-right.navbar-user
    li.dropdown.user-dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.fa.fa-user
        | &nbsp; #{displayName} &nbsp;
        b.caret
      ul.dropdown-menu
        li
          a(href='/logout')
            i.fa.fa-power-off
            | &nbsp;Log Out