
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
} 
.joolaio.logo {
    margin-top: 5px;

    float: right;
    background-position: 0;
    height: 45px;
    width: 175px;
}

.joolaio.container .panel {
    padding-top: 0;
    min-height: 600px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.maincounter {
    padding-top: 30px;
}

.rowbreak {
    height: 20px;
}

.joolaio.realtime.status {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body.modal-open {
    overflow: hidden;
}

/*
.navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 30px;

    font-weight: bold;

    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;

    text-transform: uppercase;

    margin-top: 5px;
}*/

body {
    /*padding-top:0;*/
    background: #f5f5f5;
}

.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.joolaio.realtime.timeline {
    margin-bottom: 20px;
}

.joolaio.report.datebox {
    margin-top: -20px;
}

body {
    /*font-family: "ff-meta-web-pro" ,sans-serif;
    font-weight: 400;*/
}

@media (min-width: 1200px) {
    .span7 {
        width: 600px;
    }

    .span6 {
        width: 525px;
    }

    .container.homepage .span5 {
        width: 450px;
    }

    .container.homepage .span4 {
        width: 330px;
    }

    .container.homepage .span3 {
        width: 250px;
    }

    .offset2 {
        margin-left: 180px;
    }

    .offset1 {
        margin-left: 105px;
    }
}

.navbar .nav li {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .nav li a {
    margin-bottom: 2px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    -webkit-transition: color 0.5s;
    color: #ffffff;
}

.navbar .nav {
    background-color: inherit !important;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: inherit !important;
}

.navbar .nav li a:hover {
    /*margin-bottom: 0;*/

    border-bottom: 0px solid #5D95FA;
    color: #5D95FA;

    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4);
}

.navbar .nav li.active a:hover {
    margin-bottom: 0;
    border-bottom: 2px solid #5D95FA;
    color: #5D95FA;

    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4);

}

.navbar .nav li.active a {
    margin-bottom: 0;
    border-bottom: 0px solid #5D95FA;
    color: #5D95FA;
}

.topnav {
    height: 85px;
}

.secondary {
    background-color: #efefef;
    top: 100px !important;
    height: auto;
}

.secondary .navbar-inner {
    background-color: #3f3f3f;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.secondarynav {
    height: auto;
    margin-left: 30.5%;
}

.navbar {
    font-family: "ff-meta-web-pro", sans-serif;
    font-weight: 400;

    z-index: 10001;
}

.navbar .nav {
    margin-left: 150px;
    margin-top: 25px;
    /*float: right;*/
}

.navbar .nav.secondarynavlist {
    margin-top: 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    font-size: 13px;
}

.navbar .nav.secondarynavlist li.active a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav li a {
    font-size: 120%;
}

.navbar .nav.secondarynavlist li a {
    font-size: 110%;
}

.brand {
    float: left !important;
    line-height: 40px;
    margin-top: 20px !important;
    color: white !important;
    font-size: 240% !important;
}

.navbar .downloadnav {
    float: right;
}

.navbar .download {
    display: block;
    float: right;
    font-size: 20px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar a.download {
    top: 0;
    margin: -6px 0;
    padding: 0;
}

.navbar h3 {
    line-height: 26.88px; /*font-family: "ff-meta-web-pro", "Helvetica", sans-serif;*/
    font-style: normal;
    font-weight: 700;
    margin: 1em 0 0.4em;
    font-size: 130%;
    color: #5D95FA;
    margin-right: 70px;
}

.navbar .textwidget {
    margin: -5px 0 0;
    line-height: 1.5em;
    color: white;
    font-size: 90%;
}

.navbar .downloadnav img {
    float: right;
    width: 35px;
    margin: 7px 20px 0 0;
    margin-top: 25px !important;
}

.navbar a, .navbar a:hover {
    text-decoration: none;
}

.hero-unit {
    padding: 40px;
    margin-top: 20px;
    background-color: whiteSmoke;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); /*background-color: #e0e0e0;*/
}

.hero-unit.maincaption {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 110px;
    color: white;
}

.hero-unit hr {
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    height: 5px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 30px;
}

.hero-unit h1.thecaption {
    font-size: 75px;
    font-weight: 700;
    line-height: 80px;
}

.hero-unit h2.subcaption {
    font-size: 45px;
    font-weight: 700;
    margin-top: 30px;
    color: #5D95FA;
}

.hero-unit h3.headertext {
    font-size: 45px;
    font-weight: 700;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hero-unit p {
    font-size: 16px;
    line-height: 22px;
}

.content .bs-icon {
    float: left;
    margin: 7px 10px 0 0;
    opacity: .8;
}

.content .small-bs-icon {
    float: left;
    margin: 8px 5px 0 0;
}

.content h2 {
    font-size: 20px;
}

.content h3 {
    font-size: 18px;
}

.content h2, .content h3 {
    font-weight: 300;
    line-height: 1;
}

.banner {
    padding: 20px;
    background-color: inherit;
    border: 0;
}

h1.injecttext {
    text-align: center;
    color: #5D95FA;
    font-style: italic;
    font-size: 48px;
    text-transform: uppercase;
}

.buttons {
}

.buttons .btn {
    float: right;
    margin-left: 20px;
    margin-top: 30px;
}

.buttons .btn {
    padding: 14px 24px;
    font-size: 24px;
    font-weight: 200;
    color: white;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .01);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .01);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .01);
    -webkit-animation-name: downloadButton;
    -moz-animation-name: downloadButton;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.carousel {
    margin-bottom: 0;
}

.callout {
    margin-left: -10px !important;
    margin-right: 50px;
    padding: 1em 35px 0 35px;
    background-color: #3C3C3C;
    background-color: rgba(60, 60, 60, 0.9);
    zoom: 1;
    color: #CCC;
    display: block;
    float: left;
    width: 525px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.icon_container {
    width: 60px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 0 !important;
}

.req {
    overflow: hidden;
}

.callout p {
    margin-bottom: .4em;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

form.largerform select {
    width: 106.5%;

    border: 1px #5D95FA solid;
    background-color: white;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0 0 1em;
    color: black;

    height: 48px;
}

form.largerform select.on {
    width: 106.5%;

    border: 1px #5D95FA solid;
    background-color: white;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0 0 1em;
    color: black;

    height: 48px;
    border-left: 5px #5D95FA solid;
}

form.largerform input[type="text"], form.largerform textarea, form.largerform input[type="password"] {
    width: 100%;
    line-height: 1.6em;
    border: 1px #5D95FA solid;
    background-color: white;
    font-size: 16px;
    line-height: 22.4px;
    padding: 13px 13px 13px 13px;
    margin: 0 0 1em;
    color: black;
    padding-left: 18px;
}

form.largerform input[type="text"]:focus, form.largerform textarea:focus, form.largerform input[type="password"]:focus, form.largerform input.on {
    border-left: 5px #5D95FA solid;
}

form.managed input[type="text"]:focus, form.managed input[type="text"].on {
    border-left: 5px #5D95FA solid;

}

form.largerform textarea.on {
    border-left: 5px #5D95FA solid;
}

form.managed input.error {
    border-left: 5px #B94A48 solid !important;
}

form.largerform input.error {
    border-left: 5px #B94A48 solid !important;
}

form.largerform select.error {
    border-left: 5px #B94A48 solid !important;
}

form.largerform textarea.error {
    border-left: 5px #B94A48 solid !important;
}

.largerform label, .largerform input, .largerform button, .largerform select, .largerform textarea {
    font-size: 16px;
}

.control {
    margin-top: 10px;
}

.control .btn-large {
}

.hero-unit p.maintext {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.shortcaption {
    border-bottom: 2px solid #5D95FA;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    margin-bottom: 15px;
}

.bottomcaption {
    border-bottom: 3px solid #e0e0e0;
    text-align: left;
    line-height: 35px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.well.span4 {
    height: 220px;
}

p.larger {
    font-size: 16px;
    line-height: 22px;
}

.footer {
    background-color: #1B1B1B;
    background-repeat: repeat-x;
    border-color: #252525;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
    background-image: linear-gradient(to bottom, #222, #111);
}

.footer p {
    color: white;
    font-weight: bold;
    line-height: 30px;
}

.footer ul {
    list-style: none;
    margin-left: 0;
}

.footer a, .footer a:hover {
    color: #5D95FA;
}

.downloadoption {
    border-left: 0;
    margin-bottom: 40px;
    padding-left: 5px;
    margin-left: 3px;
}

.downloadoption:hover {
    color: #5D95FA;
    margin-left: 3px;
    cursor: pointer;
}

.downloadoption.on {
    border-left: 3px solid #5D95FA;
    margin-left: 0;
    cursor: pointer;
}

.carousel-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carousel-caption p {
    margin-bottom: 0;
}

.carousel-caption h4, .carousel-caption p {
    line-height: 20px;
    color: white;
}

.freshwidget-button a {
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.loginbox {
}

.loginbox .loginbutton {
    padding-right: 10px;
    cursor: pointer;
}

.loginbox .registerbutton {
    padding-left: 10px;
    cursor: pointer;
}

.navbar .nav li.registerbutton a:hover, .navbar .nav li.loginbutton a:hover {
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 0;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background: inherit;
    color: #5D95FA;
}

#forgotbutton:hover {
    text-decoration: underline;
}

.navbar .nav li.defaultnav {
    padding: 0;
    margin: 0;
}

.navbar .nav li.defaultnav a {
    padding: 5px;
    padding-left: 10px;
    margin: 0;
}

.navbar .nav li.defaultnav a {
    color: #333;
}

.navbar .nav li.defaultnav a:hover {
    color: white;
    background: #5D95FA;
    border: 0;
}

.container.fade {
    opacity: 0;
}

body.on .container.fade {
    opacity: 1;
    -webkit-transition: all 0.7s ease;

}

.container.homepage {
    margin-top: 30px;
    min-height: 650px;
}

.joolaio.container {
    margin-top: 0;
    min-height: 810px;
    width: 100% !important;
}

.container {

}

table {
    width: 100% !important;
}

/*
.nav .dropdown-menu li > a {
    color: #999;


    font-size:100%;
    text-transform: uppercase;
}

.nav .dropdown-menu li > a:hover, .nav .dropdown-menu .active > a, .nav .dropdown-menu .active > a:hover {
    color: black;
}

.nav .dropdown-menu li > a:hover, .nav .dropdown-menu .active > a, .nav .dropdown-menu .active > a:hover {
    background: white;
}
*/
.nav .dropdown-menu li {
    padding-right: 8px;
    padding-left: 8px;
}

.nav .dropdown-menu li:first-of-type {
    margin-top: 10px;
}

.dropdown-menu {
    left: 15px;
}

.nav .dropdown-menu li.disabled > a {
    color: #999;
}

.nav .dropdown-menu li.disabled > a:hover {
    color: #999;
}

.navbar .nav li.disabled.defaultnav a:hover {
    color: #999;
    background: white;
    border: 0;
}

.nav .dropdown-menu li > a:hover, .nav .dropdown-menu .active > a, .nav .dropdown-menu .active > a:hover {
    background: white;
}

.report_wrapper {
    background: white;
    padding: 20px;
    border: 1px solid #CACACA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;

    padding-top: 10px;

    min-height: 650px;
}

.report_wrapper .row {

    margin-left: 0;
}

.nav-tabs {
    border-bottom: 1px solid #CACACA;
}

.joolaio.report.tabs {
    margin-bottom: 0 !important;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    border: 1px solid #CACACA;
    border-radius: 5px;
    box-shadow: -3px -3px 10px -3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    font-weight: bold;
}

.datebox input[type="checkbox"] {
    margin-top: -2px;
}

.marketing .row {
    margin-left: 20px;;
}

.jumbotron.subhead {
    min-height: 0 !important;
}

/*
.joolaio.datebox .container .datetable .dropdownmarker {
    background: #EBEBEB url(/assets/img/date_control_down.gif) no-repeat 50% 50% !important;
}
*/
.footer {
    padding-bottom: 20px;
}

@media (max-width: 980px) {
    .navbar-fixed-top .brand {
        display: none;
    }

}

.joolaio .nav {
    background-color: whiteSmoke;
}

.subnav {
    background: none;
    border: none;
}

.subnav .nav > li > a {
    border: 0;
    background-color: #F6F6F6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F6F6F6), color-stop(100%, silver));
    background-image: -webkit-linear-gradient(top, #F6F6F6, silver);
    background-image: -moz-linear-gradient(top, #F6F6F6, silver);
    background-image: -o-linear-gradient(top, #F6F6F6, silver);
    background-image: linear-gradient(top, #F6F6F6, silver);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f6f6f6', EndColorStr='#c0c0c0');
    border: 1px solid #E1E1E1;
    border-bottom: 0;
    border-radius: 5px;
    box-shadow: 0 1px 0 #AAA;
    color: #363636;
    display: inline-block;
    font-size: 1.125em;
    font-weight: 400;
    float: left;
    height: 36px;
    line-height: 34px;
    padding: 1px 30px;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
    -webkit-transition: border-color 0s ease-in;
    -moz-transition: border-color 0s ease-in;
    -o-transition: border-color 0s ease-in;
    transition: border-color 0s ease-in;
    font-size: 0.875em;
    height: 28px;
    line-height: 30px;
    padding: 1px 10px;
}

.subnav .nav > li > a:hover {
    background-color: #F7F7F7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #D2D2D2));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #D2D2D2);
    background-image: -moz-linear-gradient(top, #F7F7F7, #D2D2D2);
    background-image: -o-linear-gradient(top, #F7F7F7, #D2D2D2);
    background-image: linear-gradient(top, #F7F7F7, #D2D2D2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f7f7f7', EndColorStr='#d2d2d2');
    padding: 1px 10px;
    cursor: pointer;
}

.subnav .nav > li > a:active {
    background-color: #F7F7F7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #D2D2D2));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #D2D2D2);
    background-image: -moz-linear-gradient(top, #F7F7F7, #D2D2D2);
    background-image: -o-linear-gradient(top, #F7F7F7, #D2D2D2);
    background-image: linear-gradient(top, #F7F7F7, #D2D2D2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f7f7f7', EndColorStr='#d2d2d2');
    padding: 1px 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0;
}

.secondary, .secondary.btn-group {
    background-color: white !important;
}

.footer {
    margin-top: 100px;
    z-index: 10001;
}

.nav .dropdown-menu li.disabled > a {
    color: #999;
    text-transform: uppercase;
}

.widget-add a {
    border: 1px solid #E1E1E1 !important;
    border-bottom: 0 !important;
    border-radius: 5px !important;

}

.widget-add {
    margin-left: 15px;
}

.widget {
    border: 1px solid #CACACA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px 0;
    background: white;
}

.columns .widget:first-of-type {
    margin-top: 0;
}

.joolaio .nav {
    background: transparent;
}

.jumbotron.subhead .subnav {
    position: absolute;

    width: auto;
    right: 0;
}

.joolaio.container .dashboard.panel {
    padding-top: 20px;
}

.navbar .brand:hover {
    text-decoration: none;
}

.joolaio.dashboard.panel {
    padding-top: 0;
    padding-left: 0;
}

.overlay {
    display: none;
    position: absolute;
    background: whiteSmoke;;
    z-index: 950;
}

.dropdown-menu {
    z-index: 11000;
}

.table_wrapper .leftnav {
    min-width: 233px;
    width: 233px;
    vertical-align: top;
    background-color: #f5f5f5;

}

.searchmore_wrapper {
    margin: 20px 11px 18px 15px;
}

.searchmore_text {
    color: graytext !important;
}

.table_wrapper input[type="text"], input[type="password"] {
    height: 19px;
}

.table_wrapper input[type="text"], input[type="password"], textarea {
    border-top: 1px solid #A3A3A3;
    border-left: 1px solid #A3A3A3;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background: white;
    -webkit-box-shadow: inset 0 1px 0 #D6D6D6;
    -moz-box-shadow: inset 0 1px 0 #d6d6d6;
    box-shadow: inset 0 1px 0 #D6D6D6;
    color: black;
    font: normal 12px Arial;
    margin: 0;
    padding: 4px 6px;
    vertical-align: middle;
}

.table_wrapper input[type="text"].searchmore_text {
    background: white url(../img/search_30.png) no-repeat 0 center;
    padding: 5px 0 5px 25px;
    width: 88%;
}

.listcontainer {
    height: 100%;
    width: 233px;
    -moz-transition: margin-left 218ms ease-in-out;
    -webkit-transition: margin-left 218ms ease-in-out;
    transition: margin-left 218ms ease-in-out;
}

.menu_wrapper {
    margin: 0;
}

.table_wrapper .maintopic {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#f5f5f5));
    background-image: -moz-linear-gradient(center top, #F9F9F9, #f5f5f5);
    border-bottom: 1px solid #DEDEDE;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    text-transform: uppercase;
}

.table_wrapper .topic + .maintopic {
    padding-top: 30px;
}

.listcontainer .topic, .listcontainer .topicheader .topic {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#f5f5f5));
    background-image: -moz-linear-gradient(center top, #F9F9F9, #f5f5f5);
    border-bottom: 1px solid #CCC;
    color: #005C9C;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
    text-transform: uppercase;
}

.listcontainer .topic, .listcontainer .topicheader .topic {
    color: #444;
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    text-transform: none;
}

.listcontainer .topic .topicheader {
    -moz-transition: all 130ms ease-in-out;
    -webkit-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
}

.listcontainer .topic .topicheader:hover {
    background-color: #EFEFEF;
}

.listcontainer .topic.active .topicheader {
    background-color: #E8E8E8;;
}

.colorspacer {
    clear: none;
    float: left;
}

.colorspacer {
    background-color: transparent;
    height: 40px;
    padding: 0 2px;
    margin-right: 6px;
}

.table_wrapper .colorspacer {
    padding: 0;
}

.listcontainer .topicheader .topicicon {
    /*background: url(../img/button_arrow_next_ltr.gif) no-repeat;*/
    float: left;
    height: 7px;
    margin: 12px 5px 0 0;
    width: 7px;
}

.listcontainer .topicheader .topicicon {
    margin: 7px 6px 0 0;
}

.listcontainer .topicheader .topiccaption {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}

.listcontainer .topicheader .topiccaption {
    height: 40px;
    line-height: 40px;
    padding: 0;
}

.topic ul, .topic li {
    list-style: none;
}

.listcontainer .subtopic {
    list-style: none;
    margin: 0;
    padding: 0 8px 0 12px;
}

.listcontainer .subtopic {
    border-top: 1px solid #CCC;
    padding: 0 8px 2px 40px;
}

.table_wrapper div.topicheader, .table_wrapper ul.subtopic {
    border-left: 4px solid transparent;
}

.table_wrapper .listcontainer .subtopic {
    border-top: none 0;
}

.navsep {
    background: whiteSmoke;
    border-right: 1px solid #DDD;
    border-left: 1px solid #C8C8C8;
    -webkit-box-shadow: -1px 0 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: -1px 0 3px rgba(0, 0, 0, .2);
    box-shadow: -1px 0 3px rgba(0, 0, 0, .2);
    cursor: w-resize;
    height: 100%;
    -moz-transition: all 130ms ease-in-out;
    -webkit-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
    width: 5px;
    padding: 0;
}

.navsep:hover {
    background-color: #777;
    -moz-transition: background-color .20s linear;
    -webkit-transition: background-color .20s linear;
    transition: background-color .20s linear;
}

.navsep.collapsed {
    cursor: e-resize;
    padding-left: 5px;
}

.joolaio.dashboard .row {
    margin-left: 0;
}

/*
.joolaio.dashboard.column-left {
    width: 30%;
    margin: 0;
    padding: 0;
}

.joolaio.dashboard.column-mid {
    width: 30%;
    margin: 0;
    padding: 0;
}

.joolaio.dashboard.column-right {
    width: 30%;
    margin: 0;
    padding: 0;
}
*/
.joolaio.dashboard .widget {
    margin-left: 15px;
}

.jumbotron.subhead {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.joolaio.panel {
    margin-left: 0px;
    margin-right: 15px;

}

.footer {
    margin-top: 0;
    padding-left: 30px;
}

.joolaio.dashboard.widget .header {

}

.joolaio.dashboard.widget .header h3 {
    line-height: 1;
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.joolaio.dashboard.widget .content {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.joolaio.dashboard .widget .header:hover {
    /*cursor: move;*/
}

.joolaio.dashboard .widget .header .move {
    display: none
}

.joolaio.dashboard.jtable.widget .content {
    padding: 0;
}

.joolaio.dashboard.panel {
    margin-top: 0;
    padding-top: 0;
}

.joolaio.description.lead {
    display: none;;
}

.sep {
    background-color: #777;
    height: 2px;
}

.topicheader {

}

.listcontainer .subtopicheader_wrapper.subtopicheader {
    margin-top: 4px;
}

.table_wrapper .listcontainer .subtopicheader_wrapper.subtopicheader {
    margin-top: 0;
}

.listcontainer .subtopic .topiclink {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #444;
    display: inline-block;
    font-weight: normal;
    margin: 2px 0 0 -8px;
    padding: 6px 0 6px 8px;
    text-transform: none;
    -moz-transition: all 130ms ease-in-out;
    -webkit-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
    width: 100%;
}

.listcontainer .subtopic .subtopicheader_wrapper .topiclink, .listcontainer .subtopiclist_container .topiclink, .listcontainer .subtopiclist_container .topiclink:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 130ms ease-in-out;
    -webkit-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
}

.listcontainer .subtopic .subtopiclist_topics .topiclink, .listcontainer .subtopic .subtopicheader_wrapper .topiclink {
    margin: 0px 0px 0px -18px;
    text-decoration: none;
}

.listcontainer .subtopiclist_container .topiclink {
    font-weight: normal;
    text-decoration: none;
}

.subtopiccaption {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listcontainer .subtopic .subtopiclist_topics .topiclink div, .listcontainer .subtopic .subtopicheader_wrapper .topiclink div {
    margin-left: 10px;
    padding-left: 5px;
    text-indent: -5px;
    word-wrap: break-word;

    line-height: normal;
}

.table_wrapper .listcontainer .subtopic .subtopicheader_wrapper .topiclink div {
    margin-left: 0;
}

.topiclink {
    cursor: pointer;
    color: #005C9C;
}

.listcontainer .subtopiclist .subtopiclistheader.topiclink {
    margin-left: -18px;
}

.listcontainer .Ux .subtopicicon, .listcontainer .subtopiclist .subtopiclistheader .subtopicicon {
    background: url(../img/button_arrow_next_ltr.gif) no-repeat;
    float: left;
    height: 7px;

    margin-right: 3px;
    margin-top: 6px;
    width: 7px;
}

.listcontainer .Ux .subtopicicon, .listcontainer .subtopiclist.active .subtopiclistheader .subtopicicon {
    background: url(../img/button_arrow_down_ltr.gif) no-repeat;
    float: left;
    height: 7px;

    margin-right: 3px;
    margin-top: 6px;
    width: 7px;
}

.listcontainer .subtopiclist .subtopiclistheader .subtopiccaption {
    margin-left: 7px;
    word-wrap: break-word;
    line-height: normal;
}

.listcontainer .subtopiclist_container {
    list-style: none;
    margin: 0 0 4px 6px;
    padding-left: 4px;
}

.listcontainer .sE, .listcontainer .zs {
    border-bottom: none;
    margin-bottom: 0;
}

.listcontainer .subtopiclist .subtopiclistheader.topiclink:hover, .listcontainer .subtopic .subtopicheader_wrapper .topiclink:hover, .listcontainer .subtopiclist_container .topiclink:hover {
    background-color: #E8E8E8;
    text-decoration: none;
}

.listcontainer .subtopic .subtopicheader_wrapper .topiclink, .listcontainer .subtopiclist_container .topiclink, .listcontainer .subtopiclist_container .topiclink:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 130ms ease-in-out;
    -webkit-transition: all 130ms ease-in-out;
    transition: all 130ms ease-in-out;
}

.listcontainer .subtopiclist .subtopiclistheader.topiclink:hover, .listcontainer .subtopic .subtopicheader_wrapper .topiclink:hover, .listcontainer .subtopiclist_container .topiclink:hover {
    background-color: #E8E8E8;
    text-decoration: none;
}

.listcontainer .subtopiclist .subtopiclistheader.topiclink:hover, .listcontainer .topicheader .subtopicheader_wrapper .topiclink:hover, .listcontainer .Xd .topiclink:hover {
    background-color: #E8E8E8;
    text-decoration: none;
}

.listcontainer .subtopiclist_container .topiclink.active {
    font-weight: bold;
    text-transform: none;
}

.listcontainer .subtopic .topiclink.active {
    font-weight: bold;
    text-transform: none;

}

.listcontainer .subtopic .subtopiclistheader.topiclink.active {
    font-weight: normal;
    text-transform: none;
}

ul.subtopic {
    overflow: hidden;
    display: none;
}

ul.subtopic.active {
    display: block;
}

ul.subtopiclist_container {
    overflow: hidden;
    display: none;
}

ul.subtopiclist_container.active {
    display: block;
}

.table_wrapper div.topic.active {
    border-left: 4px solid #058DC7;
}

.table_wrapper .topic-reports .topicicon {
    background: no-repeat url(../img/icon-reports.png);
    height: 24px;
    width: 24px;

    margin-top: 9px;
}

.table_wrapper .topic-realtime .topicicon {
    background: no-repeat url(../img/icon-realtime.png);
    height: 24px;
    width: 24px;
}

.table_wrapper .topic-dashboards .topicicon {
    background: no-repeat url(../img/icon-dashboards.png);
    height: 24px;
    width: 24px;

}

.content_wrapper {
    padding: 0;
    min-width: 765px;
    width: 100%;
    vertical-align: top;
}

.helpblock {
    padding: 20px;
}

.helpblock .reporthelp {
    font-size: 13px;
}

.helpblock .reporthelp .joolaio.caption {
    font-weight: bold;
    padding-bottom: 6px;
}

.helpblock .reporthelp .joolaio.description {
}

.helpblock .resources {
    margin-top: 10px;
}

.helpblock .resources .resource {
    cursor: pointer;
    font-size: 13px;
    padding-bottom: 6px;
}

.leftnav .popup_wrapper {
    background: white;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    color: #555;
    display: block;
    font: normal 13px Arial;
    max-width: 600px;
    min-width: 300px;
    overflow: hidden;
    position: absolute;
    top: 137px;
    z-index: 10001;

    margin-left: 15px;
}

.leftnav .popup_wrapper .recent_wrapper {
    background: #F3F3F3;
}

.recentlyviewedcaption {
    font: bold 11px Arial;
    padding: 6px 6px 6px 9px;
}

.recentitem, .searchresultitem {
    border-color: #F3F3F3;
    padding: 5px 5px 5px 23px;
    cursor: pointer;
    white-space: nowrap;
}

.recentitem:hover, .searchresultitem:hover {
    background-color: #E8E8E8;
    color: #444;
}

.recentitem .topic, .searchresultitem .topic {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.recentitem .subtopic, .searchresultitem .subtopic {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.recentitem .seperator, .searchresultitem .seperator {
    color: #AAA;
    display: inline-block;
    padding: 0 0.5em;
    vertical-align: text-bottom;
}

.results_wrapper {
    border-bottom: 1px solid #CACACA;
    overflow-y: auto;
}

li, .btn, .listcontainer {
    -webkit-user-select: none;
}

.footer .container {
    width: 100%;
}

table .header:hover::after {
    visibility: hidden;
    display: none;
}

.chartcontrol .resolutionpicker {
    display: none;
}

table .span3 {
    float: left;
    width: 25%
}

table .span4 {
    float: left;
    width: 30%
}

table .span5 {
    float: left;
    width: 45%
}

.joolaio.report.jtable .table td.dimensionvalue:hover {
    text-decoration: none;
}

.btn.btn_table.disabled.active, .btn.btn_pie.disabled.active, .btn.btn_perf.disabled.active,
.btn.btn_table.disabled:active, .btn.btn_pie.disabled:active, .btn.btn_perf.disabled:active {
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
    background-image: -o-linear-gradient(top, #FFF, #E6E6E6);
    background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
    background-image: -moz-linear-gradient(top, #FFF, #E6E6E6);
    background-repeat: repeat-x;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.joolaio.dashboard.jtable.widget .content, .joolaio.dashboard.bartable.widget .content {
    min-height: 0;
}

input[type=checkbox] {
    top: 0 !important;
}

.barwrapper {
    max-width: 80px;
    float: left;
    width: 100%
}

.joolaio.report.jtable td.compare-daterange {
    color: #777;
}

.joolaio.dashboard.bartable .tablebar {

}

.joolaio.dashboard.bartable .barcaption .subcaption {
    font-weight: 400;
    line-height: 1;

    text-transform: uppercase;
    margin-top: 2px;
}

.joolaio.dashboard.bartable .barcaption .positive,
.joolaio.dashboard.bartable .barcaption .negative,
.joolaio.dashboard.bartable .barcaption .neutral {
    font-weight: 400;
}

/*
.joolaio.dashboard.bartable tr:first-of-type td {
    padding-top: 0;
}
*/

.joolaio.dashboard.bartable .tablebar {
    height: 30px;
}

.joolaio.dashboard.bartable .compareperiod .tablebar {
    height: 48px;
}

.joolaio.dashboard.bartable .compareperiod .tablebar.base_ratio {
    height: 15px;
    margin-bottom: 1px;
}

.joolaio.dashboard.bartable .compareperiod .tablebar.compare_ratio {
    height: 14px;
}

.joolaio.dashboard.bartable .compareperiod .tablebarwrapper .tablebarcaption {
    font-size: 12px;
    color: #999999;
    float: left;
}

.joolaio.dashboard.bartable .barcaption .caption {
    line-height: 17px;
}

.joolaio.dashboard.bartable tr td {

}

.joolaio.dashboard.bartable.widget .content table td {
    padding-top: 8px;
    padding-bottom: 5px;
}

.joolaio.dashboard.jtable.widget .content table td {
    padding: 9px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.joolaio.dashboard.bartable.widget .content table tr:first-of-type td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.joolaio.dashboard.jtable.widget .content table tr:nth-child(2) > td {
    padding: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.joolaio.dashboard.bartable .barcaption {
    height: auto;
}

/*datebox*/

.joolaio.picker.datebox .container .datetable .dates {
    /*background-color: #f5f5f5;*/
    padding-bottom: 2px;
    padding: 5px;

    padding-left: 8px;

    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

.joolaio.picker.datebox .container .datetable .dates .datelabel {
    /*font-size: 0.875em;*/
}

.joolaio.picker.datebox .container .datetable .dropdownmarker {
    background: #f5f5f5 url("../img/arrow_down.png") center no-repeat;
    width: 25px;
    margin-right: 5px;

    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

.joolaio.datebox .container.expanded .datetable .dropdownmarker {
    background: #f5f5f5 url("../img/arrow_up.png") center no-repeat !important;
}

.joolaio.datebox select {
    display: inline-block;
    float: none;
    height: auto;
    margin-top: auto;
    width: auto;
}

.joolaio.datebox .daterange {
    padding-left: 0 !important;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .compareoption .checker {
    top: 4px;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .compareoption {
    font-weight: 300;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .customdate {
    font-weight: 300;
}

.joolaio.datebox .daycell {
    font-size: 11px;
    font-weight: 300 !important;
}

.joolaio.datebox .daycell a {

    color: #0088cc;
    border-bottom: 0;
}

.ui-datepicker-calendar th {
    font-weight: 600;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .apply {
    margin-top: -5px;
}

.joolaio.datebox .picker .wrapper .calendars .datetable-prev div, .joolaio.datebox .picker .wrapper .calendars .datetable-next div {
    padding-top: 6px !important;
    padding-bottom: 0px !important;
    /*height: 28px;*/
}

.joolaio.datebox .picker .wrapper .calendars .datetable-prev div {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.joolaio.datebox .picker .wrapper .calendars .datetable-next div {
    padding-left: 5px !important;
    padding-right: 0px !important;

}

.joolaio.datebox .picker .wrapper .calendars .datetable-prev div div.inline-block, .joolaio.datebox .picker .wrapper .calendars .datetable-next div div.inline-block {
    height: 11px;
    padding: 4px;
    width: 4px;
    padding-left: 0;
    padding-right: 4px;
    border: 0;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .customdate {
    display: none;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .divider {
    display: none;
}

.joolaio.datebox ._buttons {
    bottom: 15px;
    position: absolute;
    right: 25px;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer input, .joolaio.datebox .picker .wrapper .control .optionscontainer textarea {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .daterange .dateoption.active {
    margin-left: 2px;
    margin-right: 2px;
}

.joolaio.datebox .picker .wrapper .control .optionscontainer .apply {

}

.joolaio.datebox .picker .wrapper .calendars {
    padding-top: 5px;
}

.joolaio.datebox .ui-datepicker-title {
    /*height: 28px;*/
    color: #666 !important;
    padding-top: 3px;
    /*font-weight: 600;*/
}

.overlay {
    display: none;
    position: absolute;
    background: whiteSmoke;
    z-index: 950;

    min-height: 731px;
    opacity: 0.5;

    height: 100% !important;
}

.overlay img {
    position: relative;
    left: 40%;
    top: 400px;
}

.bodywrapper {
    position: relative;
}


.joolaio.report.jtable .table td.dimensionvalue {
    color: #222;
}

.joolaio.report.jtable .table td.dimensionvalue .drilldownlink {
    border-bottom: 1px dotted #222;
}
